<%- include('includes/head.ejs') %>
  </head>

  <body>
    <%- include('includes/nav.ejs') %>
      <main class="container">
        <h1>Some error occured!</h1>
        <p>We're working on this, sorry for this inconvience</p>
      </main>
      <%- include('includes/end.ejs') %>