<%- include('../includes/head.ejs') %>
</head>

  <body>
    <%- include('../includes/nav.ejs')%>
      <main class="container">
        <p>orders</p>
      </main>
      <%- include('../includes/end.ejs')%>